/* TABLE OF CONTENTS
- Root styles
- Setting Root Color
- Box shadow example
- Gradient example
- Media query example
 */

:root {
  --white-color: #ffffff;

  --ex-background: #004e86;
  --global-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  /* gradients */
  --blue-color: #3a86ff;
  --orange-color: #fb5607;

  --gradient: linear-gradient(to right, var(--blue-color), var(--orange-color));

  --column-number: 2;
  --font-size: 1rem;
  --weight: 400;
}

/* setting the root color */
.ex-root {
  font-size: 1.5rem;
  padding: 1rem;
  border: 1px solid;
  border-radius: 10px;
}

.none p {
  color: var(--white-color);
}

.ex-root:nth-of-type(2) {
  background-color: var(--ex-background);
}

/* box-shadow */
.box-shadow-example {
  font-size: 2rem;
  box-shadow: var(--global-box-shadow);
  padding: 1rem;
  border-radius: 10px;
}

/* gradients */
.gradient-box {
  padding: 2rem;
  background: var(--gradient);
  border-radius: 10px;
}

/* media query */

.responsive-box {
  display: grid;
  grid-template-columns: repeat(var(--column-number), 1fr);
  font-size: var(--font-size);
  font-weight: var(--weight);

  text-align: center;
}

@media (min-width: 48em) {
  :root {
    --column-number: 4;
    --font-size: 2rem;
    --weight: 700;
  }
}
